.SliderContainer {
  display: flex;
  width: 98%;
  justify-content: flex-start;
  overflow: auto;
  flex-direction: column;
}

.Controls {
  position: fixed;
  top: 50%;
  width: inherit;
  max-width: inherit;
  z-index: 1;
}

.FilterContainer {
  position: absolute;
  width: inherit;
  max-width: inherit;
  display: flex;
  justify-content: flex-end;
  padding: 0 1vw;
}

.FilterInput {
  border: none;
  border-style: none;
  border-radius: 15px;
  height: 40px;
  width: 30vw;
  max-width: 200px;
  margin-bottom: 5px;
  text-align: center;
  color: white;
  background: rgb(0, 0, 0, 15%);
  transform: translate(0, -110%);
}

.PrevBtn,
.NextBtn {
  cursor: pointer;
  position: absolute;
  padding: 1rem;
  font-size: 3rem;
  transform: translateY(-2rem);
}

.NextBtn {
  right: 0px;
}

@media only screen and (min-width: 770px) {
  .SliderContainer {
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
}
